@import "./colors.scss";

.text-overflow {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ivu-radio-inner::after {
    background-color: $ra-blue;
}

.ivu-radio-checked .ivu-radio-inner {
    border-color: $ra-blue;
}

.ivu-checkbox-checked .ivu-checkbox-inner {
    border-color: $ra-blue;
    background-color: $ra-blue;
}

.ivu-table-small td {
    height: 36px;
}

.ivu-select-dropdown-transfer {
    width: 300px!important;
}

/** ra common css **/
// http://getbem.com/introduction/
/** ------------Table-------------- **/
.table-wrapper {
    width: inherit;
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    color: $ra-recovery-options-table-cell;
}

.table-wrapper__header-wrapper {
    overflow: hidden;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

.table-wrapper__body-wrapper {
    overflow-y: scroll;
    width: 100%;
    border: 1px solid #dddddd;
}

@media (max-width: 1300px) {
    .table-wrapper {
        overflow-x: auto;
    }

    .table-wrapper__header-wrapper,
    .table-wrapper__body-wrapper {
        min-width: 1500px;
    }
}

.table-record {
    display: inline-flex;
    width: 100%;
    padding-left: 0;
    margin: 0;
    border-bottom: 1px solid #dddddd;
    height: 36px;
}

.table-record__column {
    list-style: none;
    text-align: left;
    padding: 6px;
    position: relative;
}

.table-header-container {
    padding-right: 16px;
}
.table-header-record {
    background-color: #f8f8f9;
    border-left: 1px solid #dddddd;
    border-bottom: 0;
}

.table-header-record__column {
    border-right: 1px solid #dddddd;
    display: inline-flex;
}
.table-header-record__column:last-child {
    border-right: 0;
}
.table-header-record__column--hight{
    color: $ra-blue;
    font-weight: bold;
    line-height: 27px;
}

.table-record__column--vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
}

.ctable-body-spin .ivu-spin-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/** ------------Table End-------------- **/

/** ------------Modal Start-------------- **/
.ra-small-ivu-modal, .ra-medium-ivu-modal, .ra-large-ivu-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .ivu-modal {
        top: 0;
    }
}

.ra-extra-large-ivu-modal {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .ivu-modal {
        top: 30px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1800px) {
    .ra-large-ivu-modal, .ra-extra-large-ivu-modal {
        .ivu-modal {
            min-width: 1000px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media screen and (max-height: 780px) {
    .ra-large-ivu-modal, .ra-medium-ivu-modal {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .ivu-modal {
            top: 30px;
            padding-bottom: 20px;
        }
    }
}
/** ------------Modal End-------------- **/
